@model CP3.MVC.Application.Dtos.BarcoDto

<h2>Excluir Barco</h2>
<p>Tem certeza que deseja excluir o barco <strong>@Model.Nome</strong>?</p>
<form asp-action="DeleteForm" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a href="@Url.Action("Index", "Barco")" class="btn btn-secondary">Cancelar</a>
</form>
